<div
  style="padding: 2rem; background-color: lightgray; flex: 1; margin: 2rem; border-radius: 2rem; display: flex; flex-direction: column;">
  <h2>List des todo's</h2>
  <div style="gap: 0.225rem; display: flex; flex-direction: column; overflow-y: auto; flex: 1;">
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
    <div style="background-color: aqua; padding: 0.625rem; border-radius: 1rem;">
      <h3>nom du todo</h3>
      <p>description</p>
      <button class="todo-toggle-button">
        <p>Fini/pas fini</p>
      </button>
    </div>
  </div>
</div>
